@import "tailwindcss";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #FFD700;
    --color-accent: #FFD700;
    --color-background-light: #f8f6f6;
    --color-background-dark: #000000;
    --font-display: "Lexend", "sans-serif";
}

body {
    font-family: 'Lexend', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
